html {
  height: 100%;
}

.theme-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #333;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  background-image: url('/dex/assets/logos/login-bg.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.theme-body:before {
  background-image: linear-gradient(237deg, #c1e3fd, #018ffa);
  bottom: 0;
  content: ".";
  opacity: 0.04;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-indent: -9999px;
}

.theme-header {
  display: flex;
  margin: 30px;
}

.theme-body .logo {
  max-height: 60px;
  max-width: 337px;
}

.theme-body .language-select {
  color: #999;
}

.arrow-base {
  border: solid #999;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
}

.arrow-base.down {
  cursor: pointer;
  margin: 0 0 3px 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.nav {
  display: none;
}

.nav ul{
  list-style: none;
  background: #fff;
  position: absolute; 
  top: 45px;
  box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
  width: 120px;
  padding: 10px 20px;
  right: 30px;
}

.nav ul li {
  cursor: pointer;
  padding: 3px;
}

.nav ul li:hover {
  background: #009ce3;
  color: #fff;
}

.theme-heading {
  color: #333;
  font-weight: normal;
  font-size: 26px;
  height: 26px;
  line-height: 26px;
  margin: 0 0 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}

.theme-panel {
  position: relative;
  flex: 0 0 360px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px 0 rgba(0, 140, 203, .12),
    0 3px 6px 0 rgba(0, 0, 0, .12);
  padding: 40px 32px;
}

.theme-btn-provider {
  background-color: #2aadf0;
  color: #333;
  /* min-width: 250px; */
}

.theme-btn-provider:hover {
  color: #999;
}

.theme-btn--primary {
  width: 100%;
  background-color: #009ce3;
  border: none;
  color: #fff;
  min-width: 200px;
  padding: 6px 12px;
  margin-top: 16px;
}

.theme-btn--primary:hover {
  /* background-color: #666; */
  color: #fff;
}

.theme-btn--success {
  background-color: #2fc98e;
  color: #fff;
  /* width: 250px; */
}

.theme-btn--success:hover {
  background-color: #49e3a8;
}

.theme-form-row {
  z-index: 0;
  position: relative;
  display: block;
  margin: 20px auto;
}

.theme-form-input {
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #666;
  display: block;
  font-size: 14px;
  height: 36px;
  width: 100%;
  line-height: 1.42857143;
  padding: 6px 0;
  background-color: transparent;
}

.theme-form-input:focus,
.theme-form-input:active {
  border-width: 2px;
  border-color: #66afe9;
  outline: none;
}

.theme-form-label {
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: -1;
  font-size: 14px;
  font-weight: normal;
  color: #999;
  transition: 0.15s;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.theme-form-label--active {
  font-size: 12px;
  top: -13px;
}

.theme-link-back {
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
}
