* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.dex-container {
  color: #333;
  text-align: center;
  margin: 0 auto;
  width: 980px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dex-container .login-bg {
  flex: 0 0 530px;
  height: 500px;
  transform: translateY(-2vh);
}

.dex-btn {
  border: 0;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  width: 100%;
  height: 40px;
  border-radius: 2px;
}

.dex-btn:focus {
  outline: none;
}

.dex-btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  outline: none;
}

.dex-btn-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border-radius: 4px 0 0 4px;
  float: left;
  height: 36px;
  margin-right: 5px;
  width: 36px;
}

.dex-btn-icon--google {
  background-color: #FFFFFF;
  background-image: url(../static/img/google-icon.svg);;
}

.dex-btn-icon--local {
  background-color: #84B6EF;
  background-image: url(../static/img/email-icon.svg);
}

.dex-btn-icon--coreos {
  /* B&W CoreOS SVG logo */
  background-image: url(../static/img/coreos-icon.svg);
}

.dex-btn-icon--github {
  background-color: #F5F5F5;
  background-image: url(../static/img/github-icon.svg);
}

.dex-btn-icon--gitlab {
  background-image: url(../static/img/gitlab-icon.svg);
  background-size: contain;
}

.dex-btn-icon--bitbucket {
  background-color: #205081;
  background-image: url(../static/img/bitbucket-icon.svg);
}

.dex-btn-icon--ldap, .dex-btn-icon--tectonic-ldap {
  background-color: #84B6EF;
  background-image: url(../static/img/ldap-icon.svg);
}

.dex-btn-icon--saml {
  background-color: #84B6EF;
  background-image: url(../static/img/saml-icon.svg);
}

.dex-btn-icon--linkedin {
  background-image: url(../static/img/linkedin-icon.svg);
  background-size: contain;
}

.dex-btn-icon--microsoft {
  background-image: url(../static/img/microsoft-icon.svg);
}

.dex-btn-text {
  font-weight: 600;
  line-height: 28px;
  padding: 6px 0px;
  text-align: center;
  color: white;
  max-width: 288px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.dex-subtle-text {
  color: #999;
  fill:#999;
  font-size: 12px;
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 16px;
  text-decoration: none;
  justify-content: center;
}

.dex-subtle-text:hover {
  color: #009ce3;
  fill: #009ce3;
}

.dex-subtle-text__left{
  justify-content: flex-start; 
  margin: 0;
}

.theme-form-input{
  width: 100%;
  height: 40px;
  border-radius: 2px;
  border: solid 1px #cccccc;
}

.dex-separator {
  color: #999;
}

.dex-list {
  color: #999;
  display: inline-block;
  font-size: 12px;
  list-style: circle;
  text-align: left;
}

.dex-error-box {
  background-color: rgba(235,98,98,.2);
  border: none;
  color: #eb6262;
  font-size: 12px;
  margin-bottom: 36px;
  padding: 8px;
}

.other-login > span {
  color: #999;
  font-size: 12px;
}

.other-login-container {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 0px 40px;
}

.other-login-item {
  width: 72px;
  margin-bottom: 10px;
}

.other-login-btn {
  border-radius: 5px;
  border-radius: 15px;
  height: 24px;
  width: 50px;
  cursor: pointer;
}

.other-login-btn:focus,
.other-login-btn:active {
  outline: none;
  border-style: solid;
}

.other-login-text {
  max-width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 18px;
  white-space: nowrap;
}