{{ template "header.html" . }}

<div class="theme-panel">
  <h2 class="theme-heading">{{ .ErrType }}</h2>
  <p>{{ .ErrMsg }}</p>
  <div class="theme-link-back">
      <a class="dex-subtle-text" href="javascript:goBack()">{{ print "key_back" | trans }}</a>
  </div>
</div>

{{ template "footer.html" . }}
