<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="/dex/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/main.css" rel="stylesheet">
    <link href="theme/styles.css" rel="stylesheet">
      <link href="{{ favicon }}" rel="icon">
  </head>

  <body class="theme-body">
    <div class="theme-header">
      <img src="{{ logo }}" class="logo" alt="logo" />
      <div style="flex:1"></div>
      <div class="language-select">
        <span class="current-language"></span>
        <span class="arrow-base down" onclick="showLanguageNav()"></span>
        <div class="nav">
          <ul>
            <li onclick="setLanguage('zh')">简体中文</li>
            <li onclick="setLanguage('en')">English</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="dex-container">
      <div style="flex: 1"></div>
