{{ template "header.html" . }}

<div class="theme-panel">
  <h2 class="theme-heading"> 
    {{print "key_user_login" | trans}}
  </h2>
  <div>
    {{ range $c := .FirstTwoConnectors }}
      <div class="theme-form-row">
        <a href="{{ $c.URL }}" target="_self">
          <button class="dex-btn theme-btn-provider">
            <span class="dex-btn-text">{{ $c.Name }} {{ print "key_login" | trans }}</span>
          </button>
        </a>
      </div>
    {{ end }}
  </div>
  {{ if .OthersConnectors }}
  <div class="other-login">
    <span>{{print "other_way_login" | trans}}</span>
    <div class="other-login-container">
      {{ range $c := .OthersConnectors }}
        <div class="other-login-item">
          <a href="{{ $c.URL }}" target="_self">
            <button class="other-login-btn">
              <span class="other-login-text" title="{{ $c.Name }}">{{ $c.Name }}</span>
            </button>
          </a>
        </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ range $c := .LocalConnectors }}
    <div class="theme-link-back theme-link-back__dark">
      <a class="dex-subtle-text" href="{{ $c.URL }}" target="_self">{{ print "key_local_user_login" | trans }}</a>
    </div>
  {{ end }}
</div>

{{ template "footer.html" . }}
