{{ template "header.html" . }}

<div class="theme-panel">
  <h2 class="theme-heading"> 
    {{ .LoginTitle }}
  </h2>
  {{ if .Invalid }}
    <div id="login-error" class="dex-error-box">

      {{ $err_format := "key_login_err" | trans }}
      {{ $UsernamePrompt := .UsernamePrompt | trans | lower }}
      {{ printf $err_format $UsernamePrompt }}

    </div>
  {{ end }}
  <div id="login-error-username" class="dex-error-box" style="display: none">
      {{ $msg_format := "key_msg_fill_email" | trans }}
      {{ $UsernamePrompt := .UsernamePrompt | trans | lower }}
      {{ printf $msg_format $UsernamePrompt }}
  </div>
  <div id="login-error-password" class="dex-error-box" style="display: none">
    {{ print "key_msg_fill_password" | trans }}
  </div>
  <form method="post" action="{{ .PostURL }}" id="login-form">
    <div class="theme-form-row">
      <label for="login" class="theme-form-label">{{ .UsernamePrompt | trans }}</label>
	    <input tabindex="1" id="login" name="login" type="text" class="theme-form-input" onkeypress="inputEnter(event)" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus {{ end }}/>
    </div>
    <div class="theme-form-row">
      <label for="password" id="password-label" class="theme-form-label">{{print "key_password" | trans}}</label>
      <input tabindex="2" id="password" type="password" class="theme-form-input" onkeypress="inputEnter(event)" {{ if .Invalid }} autofocus {{ end }}/>
      <input type="hidden" id="encrypt" name="encrypt">
    </div>

    <button tabindex="3" type="button" class="dex-btn theme-btn--primary" onclick="submitForm()">{{print "key_login" | trans}}</button>
  </form>
  {{ if .BackLink }}
  <div class="theme-link-back">
    <a class="dex-subtle-text" href="javascript:goBack()">{{ print "key_back" | trans }}</a>
  </div>
  {{ end }}
</div>


{{ template "footer.html" . }}
